<a tabindex="0" class="btn btn-lg btn-danger" role="button"
   data-toggle="popover"  title="新建博客分类"
   data-html="text"
   data-placement="top"
   data-content='
   <%= form_for @sort, url: blogs_post_sorts_path, method: :post,remote: true, data: {type: 'json'},authenticity_token: 'your_external_token' do |f| %>
  <label>分类名</label>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
　　'>可消失的弹出框</a>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })

</script>

<%= form_for @sort, url: blogs_post_sorts_path, method: :post,remote: true, data: {type: 'json'},authenticity_token: 'external_token' do |f| %>
  <label>分类名</label>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>