<%= stylesheet_link_tag params[:controller] %>
<%= content_for :title,@post.new_record? ? '创建博客文章' : '更新' %>
<div class="container">
  <div class="row">
    <%= form_for @post ,html: {class: 'post_new_or_edit'} do |f| %>
    <div class="row">
      <div class="col-lg-12" style="text-align: center; align-content: center;padding-top: -30px;">
        <!---->

        <label class="title">标题：</label>
        <%= f.text_field :title, class: 'blog-title', size: '30', maxlength: '30', min: '1', placeholder: '必填，长度为1-30字。' %>
      </div>
    </div>
    <div class="col-lg-10 col-lg-offset-1">
          <%= render partial: "shared/wysiwyg-rails/editor", locals: {content: @post.content} %>

        <%= f.hidden_field :content,class: 'post_content' %>

          <script >
            //提交时将编辑器中的内容放入表单中。
            $(function(){
                form_submit_get_cus_content('.post_new_or_edit','.post_content')
            })
          </script>
    </div>
        <div class="col-lg-10 col-lg-offset-1">
          <h5><label>博客分类：</label><%= select_tag "blogs_post[sort_id]" ,options_from_collection_for_select(@post_sorts, :id, :name,(@post.sort_id unless @post.blank?) ),class: 'cus_select' %>

          </h5>
          <%= f.submit %>
        </div>

  <% end %>

  </div>


</div>

<script>
  $(document).ready(
          function(){
              $('.post_new_or_edit').submit(function(){
                 var $title_value =  $('.blog-title').val()
                  if($title_value=='' || $title_value==null){
                      alert('对不起，请输入标题！')
                      return false;
                  }
                  return true;
              })
          }
  )

</script>