<%#= stylesheet_link_tag params[:controller] %>
<%= stylesheet_link_tag 'blogs/_posts_show' %>
<%= javascript_include_tag params[:controller] %>
<%= content_for :title, @post.title %>
<%= content_for :hidden_header_navi, true %>

<div class="container">
  <div class="row blog-content">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row title-row" >
        <div class="col-lg-10">
          <%= render partial: 'blogs/posts/title_style', object: @title %>
          <div class="subtitle">
            <h6>分类: <a href=""><%= @post.blogs_sort.present? ? @post.blogs_sort.name : '未分类' %></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             创建时间 <%= datetime_format_helper(@post.created_at) %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              最后修改于 <%= datetime_format_helper(@post.updated_at) %>
            </h6>
          </div>
        </div>
        <div class="col-lg-2">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default">操作</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="<%= root_url %>">首页</a></li>
              <li><a href="<%= edit_blogs_post_path %>">修改</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">转载</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-lg-12">
        <div id="preview" class="fr-view cus_show_blog"></div>
      </div>

    </div>
  </div>

  <script>
     $(function(){
         var content_code = "<%=@post.content%>"
         var content = $('#preview').html(content_code).text();

         $('#preview').html(content);
     })
  </script>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 blog-content-foot">
      <% previous = get_previous_one(@post)
         after = get_after_one(@post)
      %>
      <h6> ↞ 上一篇:　<a href="<%= blogs_post_path(previous) %>"><%= previous.id == @post.id ? '【没有了】' : previous.title %></a></h6>
      <h6> ↠ 下一篇:　<a href="<%= blogs_post_path(after) %>"><%= after.id == @post.id ? '【没有了】' : after.title %></a></h6>
    </div>
  </div>

  <div class="container">
    <div class="row blog-comments">
      <h3>评论</h3>
        <% @blog_comments.each do |comment|
        next if comment.comment_content.blank?
        %>
        <div class="col-lg-10 col-lg-offset-1 blog-comment">
          <h5 class="email"><strong><%= comment.user.email %></strong></h5>

          <h6><%= datetime_format_helper(comment.created_at) %></h6>
          <h5 class="louceng">＃<%= comment.id %></h5>

            <div><%= comment.comment_content %></div>
        </div>
          <% end if @blog_comments.length > 0 %>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-lg-12">
            <h2>发表看法：</h2>
          </div>
          <%= form_for @blog_comment, url: blogs_post_comments_path(@post), html: {class: 'comment'},
                       remote: true, data: {confirm: '确定提交此评论？', type: 'json'} do |f| %>

              <div class="col-lg-12">

                <%= f.text_area :comment_content, rows: '8', cols: '80',class: 'cc', maxlength: '1000', placeholder: '您的看法是？' %>
              </div>
              <div class="col-lg-12">
                <input type="checkbox" name="memory" id="memory" class="memory">　<label>请尽量记住我</label>
              </div>
              <!-- data: {disable_with: 'save...'}
               其实转换为
               data-disable-with='save...'
               -->
              <div class="col-lg-12">
                <%= f.submit '以上，这是我的观点', data: {disable_with: '正在提交中......'} %>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
$('form.comment').submit(function(){
   if($('textarea.cc').val()!=''){
       return true;
   }else{
       alert('留言不能为空！')
       return false;
   }
})
</script>